/* Stile tentang kami  and class kami */
.about,
.menu,
.contak {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contak h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contak h2 span {
  color: var(--primary);
}

/* menu section */
.menu h2 {
  margin-bottom: 0.5rem;
}
.menu p,
.contak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  padding-bottom: 4rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 20%;
  width: 40%;
}

.menu .row .menu-card .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* stile logo */
@keyframes slide {
  form {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
