/* contac section */
.contak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  padding: 2rem 7% 1.4rem;
}

.contak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contak .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: #2d2009;
  cursor: pointer;
}
